torch
torchvision
torchaudio

diffusers[torch]
transformers
accelerate
datasets
peft
safetensors

xformers
bitsandbytes
deepspeed

sentencepiece
protobuf
pillow
requests

pytorch-fid
scipy

tensorboard
tqdm
colorama
python-dotenv
requests